.select{
    background-color:  #9C0045;
}
.home{
     background-color: #9C0045 !important;
     color: white;
}
.addtoCart{
    background-color: #9C0045 !important;
    color: white;
}
.container{
    color: black !important;
}
.category{
    color: white !important;
}